PORT=5000
MONGODB_URI=
JWT_SECRET=your_jwt_secret
STRIPE_SECRET=
RAZORPAY_KEY=
RAZORPAY_SECRET=
SENDGRID_API_KEY=
OPENAI_API_KEY=
EMAIL_FROM=
EMAIL_USER=
EMAIL_PASS=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
CONTACT_TO=support@jobportal.example
S3_BUCKET=
S3_KEY=
S3_SECRET=
ADMIN_REG_CODE=MySuperSecretAdminCode123


RESEND_API_KEY=re_XsKp9ptq_PJoiiDBUM8BQSvV7krtzgYmu
EMAIL_FROM=JobPortal <abhinavkumar9917@gmail.com>
CONTACT_TO=abhinavkumar9917@gmail.com